<div class="skeleton"
     *ngIf="isValidType() && isValidSize()"
     [className]="'skeleton '+ size"
     [ngSwitch]="type">

  <div *ngSwitchCase="'line'"
       class="line"
       [className]="type"></div>

  <div *ngSwitchCase="'image'"
       class="image"
       [className]="type"></div>

  <div *ngSwitchCase="'card'"
       class="card">
    <ng-content></ng-content>
  </div>

</div>

<div *ngIf="!isValidType()"
     class="error">Skeleton error, valid types: {{validTypes}}</div>
<div *ngIf="!isValidSize()"
     class="error">Skeleton error, valid sizes: {{validSizes}}</div>