$skeleton-color: hsl(0, 0%, 85%);

.xs {
  --skeleton-width: 80px;
  --skeleton-offset: 60px;
}

.sm {
  --skeleton-width: 160px;
  --skeleton-offset: 60px;
}

.md {
  --skeleton-width: 320px;
  --skeleton-offset: 60px;
}

.lg {
  --skeleton-width: 480px;
  --skeleton-offset: 60px;
}

.xl {
  --skeleton-width: 640px;
  --skeleton-offset: 60px;
}

@mixin background {
  background-image: linear-gradient(
    90deg,
    $skeleton-color 0px,
    lighten($skeleton-color, 5%) 30px,
    $skeleton-color 60px
  );
  background-size: calc(var(--skeleton-width) + var(--skeleton-offset));
}

.skeleton {
  width: var(--skeleton-width);

  .image,
  .line,
  .card {
    @include background;
    animation: refresh 2s infinite ease-out;
    margin: 0.5rem;
    border-radius: 4px;
  }

  .image {
    min-height: calc(var(--skeleton-width) - 1rem);
    aspect-ratio: 1;
  }

  .line {
    height: 1rem;
    width: 80%;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    min-height: calc(var(--skeleton-width) * 1.2);
    padding: 1rem;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
      0 1px 3px 0 rgb(0 0 0 / 12%);

    .skeleton {
      width: 100%;

      .image,
      .line {
        background-color: white;
        background-image: unset;
        margin: 0;
      }

      .image {
        min-height: calc(var(--skeleton-width) * 0.8);
        aspect-ratio: unset;
      }
    }
  }
}

.error {
  color: red;
  font-size: 0.8rem;
}

@keyframes refresh {
  0% {
    background-position: calc(var(--skeleton-offset) * -1);
  }

  40%,
  100% {
    background-position: var(--skeleton-width);
  }
}
